# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
optimizer
geopackage-optimizer-go

# Test binary, built with `go test -c`
*.test

# Test output
geopackage/geopackage.gpkg

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
